.navigations {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #3498db, #703916); /* Gradient dari biru ke merah */  
    padding: 10px;
  }
  
  .navigations a {
    text-decoration: none;
    color: #ffffff; /* Warna kuning kecoklatan */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #badb34; 
    font-weight: bold;
  }
  
  .navigations a:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  