* {
  box-sizing: border-box;
  font-family: LilitaOne ;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #efefef; */
  font-family: 'LilitaOne';
  display: flex;
  justify-content: center ;
  align-items: center;

}

@font-face {
  font-family: LilitaOne;
  src: url('./assets/font/LilitaOne-Regular.ttf');
  format: ('truetype');
  font-display: swap;
}