body {
    margin: 10px;
}

.card {
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-weight: bold;
}

#container {
    display: flex;
    gap: 20px;
}