.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}


.post {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: linear-gradient(to right, green, yellow);

}


.img-thumb {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}


.img-thumb img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}


.content {
    flex: 1;
}


.content p.title {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 16px;
}


.content p.desc {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}

.remove {
    padding: 8px 16px;
    border: 1px solid #3d4a6e;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to right, #e91e63, yellow);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.update {
    padding: 8px 16px;
    border: 1px solid #3d4a6e;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to right, #1ee95e, rgb(13, 0, 255));
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-add-post {
    box-shadow: 0px  0px 16px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
    background: linear-gradient(to right, #4a1ee9, rgb(0, 255, 55));
}


.form-add-post label {
    display: block;
    font-size: 14px;
    color: #fefefe;
    font-weight: bold;
    margin-bottom: 10px;
}


.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #607d8b;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607d8b;
}


button.btn-submit {
    outline: none;
    padding: 10px 30px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    background: linear-gradient(to right, #e91e63, yellow);
    cursor: pointer;
}