/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
  margin: 50px auto;
  animation: fadeIn 0.5s ease-in-out;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

div {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button.correct {
  background-color: #28a745;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .App {
    margin: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveCorrectAnswer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
